* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Main container */
.main-container {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    
    section {
        width: 100%;
        /* max-width: 20.9375rem; */
        max-width: 30rem;
    }
}

/* Introduction */
.introduction {
    background-color: var(--bg-intro);
}

.logo {
    width: 5.5rem;
    height: 1.5625rem;
}

.btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    font-family: inherit;
    font-size: var(--fs-s);
    font-weight: var(--fw-light);
    line-height: 1.875rem;
    color: var(--font-white-clr);
    
    text-decoration-line: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 4px;
}

.hide {
    display: none;
}

/* Forecast */
.forecast {
    background-color: var(--bg-weather);
}

.upcoming {
    margin: 0;
    margin-top: 1.37rem;
    margin-bottom: 2.25rem;
    color: var(--font-darker-clr);
    font-size: var(--fs-m);
    font-weight: var(--fw-medium);
    line-height: 1.75rem;
}

.intro {
    width: 100%;
    max-width: 20.2rem;
    margin: 0 auto;
    padding: 0 2.75rem;
}

/* text */
.title {
    color: var(--font-white-clr);
    font-size: var(--fs-xxl);
    font-weight: var(--fw-medium);
    line-height: 2.6875rem;
    margin-top: 4.37rem;
    margin-bottom: 1.87rem;
}

.paragraph {
    color: var(--font-white-clr);
    font-size: var(--fs-s);
    font-weight: var(--fw-light);
    line-height: 1.875rem;
    margin: 0;
    margin-bottom: 1.87rem;
}

/* tabel */
table {
    width: 100%
}

th {
    text-align: left
}
  
.fore-icon {
    margin-right: 0.44rem;
    margin-left: 0.44rem;
}

.fore-detail {
    display: flex;
}
  
.fore-label {
    white-space: nowrap;
}

.dailyforecast {
    margin: 0;
    color: var(--font-darker-clr);
    font-size: var(--fs-m);
    font-weight: var(--fw-medium);
    line-height: 1.75rem;
    margin-top: 2.12rem;
}

.email {
    display: flex;
    flex-direction: column;
}

.pill-email-input {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;

    input {
        text-align: center;
        padding: 1rem 1.25rem;
        border: 1.5px solid #000000;
        outline: none;
        flex-grow: 1;
        background: none;
        border-radius: 62.4375rem;
    }

    input::placeholder {
        color: var(--font-dark-clr);
        font-family: Lato;
        font-size: 0.875rem;
        font-weight: var(--fw-medium);
        line-height: 1rem;
    }
}

.submitbtn {
    color: white;
    background: black;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 62.4375rem;
    text-align: center;
    padding: 1rem 1.25rem;
    border: 1.5px solid #000000;
    outline: none;
    flex-grow: 1;
    margin-top: 1.25rem;

    font-family: Lato;
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    line-height: 1rem;
}

/* Activities */
.activities {
    background-color: var(--bg-primary);
}

.temp-container {
    background-color: var(--bg-temp);
    padding: 1.25rem;
    border-radius: 0.375rem;
    margin-bottom: 0.4rem;
    
    h3 {
        font-size: var(--fs-m);
        font-weight: var(--fw-medium);
        line-height: 1.75rem;
        margin-top: 0.63rem;
        margin-bottom: 0;
    }
}

.activity-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    h2 {
        margin-bottom: 0;
        font-size: var(--fs-xl);
        font-weight: var(--fw-medium);
        line-height: 1.75rem;
    }

    h3 {
        font-family: Lato;
        font-size: var(--fs-m   );
        font-weight: var(--fw-medium);
        line-height: 1.75rem;
        margin-bottom: 0;
    }
    p {
        font-family: Lato;
        font-size: var(--fs-s);
        font-weight: var(--fw-light);
        line-height: 1.875rem;
        margin-top: 0.31rem;
        margin-bottom: 0;
    }
}

.activity {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-align: left;

    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--line-color);

    img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }
}

.temp {
    font-size: 5.625rem;
    font-weight: var(--fw-medium);
    line-height: normal;
    margin: 0;
}

.temp-disc {
    font-size: var(--fs-s);
    font-weight: var(--fw-light);
    line-height: 1.875rem;
    margin-top: 0.63rem;
    margin-bottom: 0;
}

/* dialogs */
dialog {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-primary);

    justify-content: center;
    padding: 1.25rem;
    padding-top: 0;
    width: 100%;
}

.dialog {
    width: 100%;
    height: 100vh;

    button {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        background: none;
        border: none;
    }
}

.img-container {
    position: relative;
}

.dialog-img {
    width: 100%;
    height: 12.81381rem;
    object-fit: cover;
}

.black {
    background-color: var(--bg-footer);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.38rem;
}

.deptlink {
    width: 5.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.ximg {
    width: 1.5rem;
}

.fdndlink {
    width: 4.5625rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}


@media screen and (min-width: 700px) {
    /*  */


    /* section placement */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header activities"
            "forecast activities"
            "black black";
    }
    
    .introduction {
        grid-area: header;
    }
    
    .forecast {
        grid-area: forecast;
    }
    
    .activities {
        grid-area: activities;
    }
    
    .black {
        grid-area: black;
    }   

    /* temp */
    .temp-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .temp-container h3 {
        margin-top: 0rem;
    } 

    /* activities */
    .activity {
        border: none;
    }

    .activity-content {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
    }
    
    .activity img {
        width: 6.801rem;
        height: 6.8125rem;
        object-fit: cover;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;

        padding-bottom: 1.25rem;
        border-bottom: 1px solid var(--line-color);
    }
    
    .text h3 {
        margin: 0;
    }
    
    .text p {
        margin: 0;
    }
}